/* ----------------------------
-------------------------------

CSS TABLE OF CONTENTS 

# GLOBAL STYLES
    # GLOBAL VARIABLES
    # GLOBAL RESETS
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA 
    # GLOBAL HELPERS

# LAYOUT
    # MEDIA QUERIES / BREAKPOINTS ( RESPONSIVE TYPOGRAPHY ) 
    # CONTAINER
    # GRID

# SITE STRUCTURE 
    # HEADER
        # LOGO
        # SITE NAV
            # TOGGLE MENU
        # SITE-HEADER-ON-TOP-OF-HERO
    # MAIN
        # SECTION
            # HERO
    # FOOTER

# UI COMPONETS
    # BUTTONS
    # CARDS


# ANIMATION 
    # SMOOTH SCROLLING 


# CUSTOM STYLING 



-------------------------------
------------------------------*/


/* ---------GLOBALS----------- */

/* VARIABLES */
:root {
    /* DEFINE ALL COMMONLY USED COLORS HERE */

    --color-body-background: rgb(255 255 255);
    --color-text-body: rgba(0 0 0 / .8);
    --color-text-headings: rgb(0 0 0 / 1);

    /* --color-body-background: rgb(0, 0, 0);
    --color-text-body: rgba(255, 255, 255 / .8);
    --color-text-headings: rgb(255, 255, 255 / 1); */

    --color-links: blue;
    --color-links-hover: darkblue;
    --color-links-dark: rgb(102 102 102);
    --color-links-darker: rgb(0 0 0);
    --color-links-light: rgb(204 204 204);
    --color-links-lighter: rgb(255 255 255);

    --color-siteheader-background: transparent;
    --color-siteheader-links: var(--color-text-headings);

    --color-hero-background: rgb(100 100 100);
    --color-hero-text: rgb(255 255 255 / .8);
    --color-hero-headings: rgb(255 255 255 / 1);

    --color-sitefooter-background: rgb(100 100 100);
    --color-sitefooter-text: rgb(255 255 255 / .8);
    --color-sitefooter-headings: rgb( 255 255 255 / 1);
    --color-sitefooter-links: rgb(255 255 255);




    /* DEFINE ALL FONTS USED HERE */
    --font-body: system-ui, Helvetica, Arial, sans-serif;
    --font-headings: system-ui, Helvetica, Arial, sans-serif;

    /* SIZING UNITS */
    --container-width: 1200px;
    --unit-small: 1em;
    --unit-medium: 2em;
    --unit-large: 4em;

}

/* GLOBAL RESETS */

/* CHANGE BOX-SIZING FOR ALL TO BORDER_BOX */
* {
    box-sizing: border-box;
}

/* REMOVE THE DEFAULT 8px MARGIN ON THE BODY */
body {
    margin: 0;
}

/* GLOBAL COLORS */

body {

    /* SET THE COLOR OF THE MAIN BODY BACKGROUND */
    background-color: var(--color-body-background);

    /* SET THE COLOR OF THE MAIN BODY TEXT */
    color: var(--color-text-body);

}

h1,
h2,
h3 {

    /* SET THE COLOR OF ALL HEADINGS H1-etc */

    color: var(--color-text-headings);

}

a {
    /* SET THE COLOR OF ALL TEXT LINKS */
    color: var(--color-links);

    &:hover {
        /* SET THE COLOR OF ALL HOVER STATES ON TEXT LINKS */
        color: var(--color-links-hover);
    }
}

/* GLOBAL TYPOGRAPHY */

body {

    /* SET THE FONT FOR ALL MAIN BODY TEXT */
    font-family: var(--font-body);

    /* SET THE LEADING (LINE-HEIGHT) FOR ALL BODY TEXT */
    line-height: 1.5;
}

h1,
h2,
h3 {

    /* SET THE FONT AND MARGIN FOR ALL HEADINGS */
    font-family: var(--font-headings);
    margin: .4em 0;
}

h1 {

    /* SET H1 FONT SIZE*/
    font-size: 3em;

    /* SET H1 LEADING*/
    line-height: 1.1;
}

h2 {

    /* SET H2 FONT SIZE*/
    font-size: 2em;

    /* SET H2 LEADING*/
    line-height: 1.2;
}

h3 {

    /* SET H3 FONT SIZE*/
    font-size: 1.5em;

    /* SET H3 LEADING*/
    line-height: 1.3;
}

p {

    /* LIMIT THE WIDTH OF ALL PARAGRAPHS */
    max-width: 65ch;

    /* NEW SCHOOL WIDOW SLAYER */
    text-wrap: pretty;
}

/* GLOBAL MEDIA */

img {

    /* MAKE ALL IMAGES SHRINK ON SMALL SCREENS */
    max-width: 100%;
    height: auto;
}

/* GLOBAL HELPERS */

/*  HIDE ELEMENTVISUALLY BUT NOT FROM SCREEN READERS AND SEARCH ENGINES  */
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}



/* ---------LAYOUT----------- */


/* RESPONSIVE TYPOGRAPHY VIA MEDIA QUARIES */

/* SMALL SCREENS (MOBILE < 768px) */
body {
    /* SET THE DEFAULT FONT SIZE TO 14px */
    font-size: 87.5%;
}

/* MEDIUM SCREENS (TABLETS < 1200px) */

@media (min-width: 768px) {
    body {
        /* SET THE MEDIA SCREENS AND HIGHER FONT SIZE TO 16px */
        font-size: 100%;
    }
}

/* LARGE SCREENS (LAPTOPS &B DESKTOPS > 1200px) */

@media (min-width: 1200px) {
    body {
        /* SET THE LARGE SCREENS AND HIGHER FONT SIZE TO 18px */
        font-size: 112.5%;
    }
}

/* CONTAINER */
.container {
    /* SET THE MAX WIDTH OF YOUR SITE (eg 1200px) */
    max-width: var(--container-width);


    /* CENTER THE CONTAINER HORIZONTALLY */
    margin-left: auto;
    margin-right: auto;
}

/* GRID */

.row {
    --gridgap: 1em;
}

.row> * {
    margin-top: var(--gridgap);
    margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }

    /* COMMONLY USED COLUMN WIDTHS */
    .one-half {grid-column: auto / span 6;}
    .one-third {grid-column: auto / span 4;}
    .two-thirds {grid-column: auto / span 8;}
    .one-fourth {grid-column: auto / span 3;}
    .three-fourths {grid-column: auto / span 9;}

    /*  12 GRID COLUMN CLASSES */
    .col-1 {grid-column: auto / span 1;}
    .col-2 {grid-column: auto / span 2;}
    .col-3 {grid-column: auto / span 3;}
    .col-4 {grid-column: auto / span 4;}
    .col-5 {grid-column: auto / span 5;}
    .col-6 {grid-column: auto / span 6;}
    .col-7 {grid-column: auto / span 7;}
    .col-8 {grid-column: auto / span 8;}
    .col-9 {grid-column: auto / span 9;}
    .col-10 {grid-column: auto / span 10;}
    .col-11 {grid-column: auto / span 11;}
    .col-12 {grid-column: auto / span 12;}

    /* CENTERED COLUMS */
    .one-half.centered {grid-column: 4 / span 6;}
    .one-third.centered {grid-column: 5 / span 4;}
    .two-thirds.centered {grid-column: 3 / span 8;}

    /* PUSHES */
    .push-1 {grid-column-start: 2;}
    .push-2 {grid-column-start: 3;}
    .push-3 {grid-column-start: 4;}
    .push-4 {grid-column-start: 5;}
    .push-5 {grid-column-start: 6;}
    .push-6 {grid-column-start: 7;}
    .push-7 {grid-column-start: 8;}
    .push-8 {grid-column-start: 9;}
    .push-9 {grid-column-start: 10;}
    .push-10 {grid-column-start: 11;}
    .push-11 {grid-column-start: 12;}


    /* SWAP (REVERSE) COLUMNS - WORKS ONLY w/ 2 CHILDREN */
    .row.swapped>*:first-child {
        order: 2;
    }

    .row.swapped>*:last-child {
        order: 1;
    }

}

/* FOR DEMO PURPOSES */

.demo>* {
    background-color: #444;
    padding: 1em;
    text-align: center;
}


/* ---------SITE STRUCTURE----------- */

/* body {
    display: grid;
} */

/* SITE HEADER */
.site-header {
    background-color: var(--color-siteheader-background);

    /* PUT ALL HEADER CHILDREN SIDE-BY-SIDE ON LARGE SCREEN */
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ADD SOME GENERAL SPACING/PADDING AROUND THE HEADER */
    padding: var(--unit-small);


    /* when doing position absulote, always remember to add width */
    /* width: 100%; */


    /* REMOVE LINK UNDERLINE AND SET SITE LINK COLOR */
    a {
        text-decoration: none;
    }



    /* SITE LOGO */

    .site-logo {

        /* PUT SITE LOGO CHILDREN SIDE-BY-SIDE AND CENTER */
        display: flex;
        align-items: center;
        justify-content: ceenter;
        gap: 1em;
        

        /*  PLACE LOGO ON TGOP OF DRAWER MENU */
        z-index: 100;

        /* REMOVES MARGINS AND RESIZE H1 INSIDE HEADER */
        h1 {
            font-size: 2em;
            margin: 0;
            text-wrap: nowrap;
        }

    }

    /* SITE NAV */

    .site-header-nav {

        /* REMOVE MATRGINS & BULLETS FROM THE LIST */
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            }

            /* DISPLAY CHILDREN SIDE-BY-SIDE ON LARGE SCREEN */
            /* @media (min-width: 768px) {
                display: flex;
            } */

            /*  MAKE SITE NAV LINKS BIG LIKE BUTTONS */
            a {
                display: block;
                padding: 1em;
            }
    }
}

/* TOGGLE MENU */

/* HIDE MENU BUTTON IF NOT USING TOGGLE NAV */
.site-menu-button {
    display: none;
}

.toggle-menu {

    --color-togglemenu-background: rgb(226, 197, 255);
    --color-togglemenu-text: rgb(255, 237, 222);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    /* SHOW MENU BUTTON IF USING TOGGLE NAV */
    .site-menu-button {
        display: block;
        background-color: transparent;
        border: 1px solid var(--color-siteheader-links);
        color: var(--color-siteheader-links);
        padding: .5em;
        position: relative;
        z-index: 100;

        /* REST THE FONT SIZE */
        font-size: inherit;

        &:hover {
            cursor: pointer;

        }

        /* ADD SUPPORT FOR NAVICON / HAMBURGER ICON */
        &:has(svg) {

            /* VERTICALLLY ALIGN THER MENU TEXT W ICON */
            display: flex;
            align-content: center;
            gap: var(--unit-small);

            /* REWMOVE BORDER */
            border: none;

            /* SET THE COLOR OF THE SVG TO MATCH */
            svg {
                fill: var(--color-siteheader-links);
            }

            /* ADD SUIPPORT TO SVG ANIMATION */
            svg > * {
                transition: all .2s ease-out;
                transform-origin: center;
            }
        }

    }
                
    .site-menu {

        /* SET COLORS TO TOGGLE MENU COLORS */
        background-color: var(--color-togglemenu-background);
        color: var(--color-togglemenu-text);


        position: fixed;
        top: 0;
        right: 0; 
        width: 100%;
        z-index: 50;
        min-height: 100svh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        transition: .4s all ease-out;
        }          
        

    a {
        color: var(--color-togglemmenu-text);
        padding: 2vh 2vw;
    }

                
    &[data-menustate="open"] {

        /*  CHANGE COLORS TO TOGGLE MENU COLORS */
        --color-siteheader-links: var(--color-togglemenu-tewxt);
        
        /* SET MENU BUTTON TO FIXED WHEN MENU IS OPEN */
        .site-menu-button {
            position: fixed;
            z-index: 100;
        }

        /* SHOW THE SITE MENU WHEN OPEN */
        .site-menu {
        transform: translateX(0);
        }

        /* ANIMATE THE NAVICON / HAMBURTGER TO AN X */
        .site-menu-button svg {

            .simple-navicon-top {
                rotate: 45deg;
                translate: -21% 25%;
            }

            .simple-navicon-middle {
                opacity: 0;
            }

            .simple-navicon-bottom {
                rotate: -45deg;
                translate: -21% -25%
            }
        }
    }

    &[data-menustate="closed"] {

        /* MOVE THE SIDE MENU TO THE RIGHT WHEN CLOSED */
        .site-menu {
            transform: translateX(100%);
        }
    }
}


/* IF TOGGLE MENU DISPLAY LOGO ON LEFT AND MENU ON RIGHT ON ALL SCREENS */
.site-header:has(.toggle-menu) {
    display: flex;
    justify-content: space-between;
}


/*  PLACE SITE HEADER ON TOP OF HERO */
.site-header.on-top-of-hero {

        /* RENDER HEADER ON TOP OF HERO ON LARGE SCREENS */
            position: absolute;
            width: 100%;
        
        /*  SET SITE HEADER LINK COLOR ON LARGE SCREENS */
        --color-siteheader-links: var(--color-hero-headings);
        a {
            color: var(--color-siteheader-links);
        }
        
        /* ADD MORE SPACE ON TOP FOR ABSOLUTE HEADER */
        & + .site-main > .hero {
            padding-top: calc(4em + var(--unit-large));
        }
}


/* SITE MAIN */
.site-main {
}

/* SECTION */
section {
    padding: var(--unit-large) var(--unit-small);
}

/* HERO SECTION */

.hero {
    background-color: var(--color-hero-background);
    color: var (--color-hero-text);

    /* SET HERO H1 TO BE JUMBO */
    h1 {
        font-size: 4em;
    }

    h1, h2, h3 {
        color: var(--color-hero-headings);
    }
    /* ADD MORE SPACE TO TOP FOR ABSOLUTE HEADER */
    /* padding-top: calc(4em + var(--unit-large)); */


    p {
        color: var(--color-hero-text);
    }
}

/* SITE FOOTER */
.site-footer {
    background-color: var(--color-sitefooter-background);
    color: var(--color-sitefooter-text);

    /*  ADD SOME GENERAL PADDING AROUND THE FOOTER */
    padding: var(--unit-small);

    h1, h2, h3 {
        color: var(--color-sitefooter-headings);
    }

    a {
        color: var(--color-links-light);

        &:hover {
            color: var(--color-links-lighter);
        }
    }

    .site-footer-nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

/* ---------UI COMPONENTS----------- */

/* BUTTONS */

.button {

    /* SET THE BUTTON COLORS  */
    border: 1px solid var(--color-links-dark);
    background-color: var(--color-links-dark);
    color: white;

    /* ENABLE BOX NODEL STYLING */
    display: inline-block;
    padding: var(--unit-small);
    margin: var(--unit-small) 0;

    /* GET RID OF THE UNDERLINE */
    text-decoration: none;

    + .button {
        margin-left: var(--unit-small);
    }

    &:hover {
        color: #fff;
        background-color: var(--color-links-darker);
        border-color: var(--color-links-darker);
    }


    /* ADD LIGHT BUTTON VARIANT */
    &.light {
        border-color: var(--color-links-light);
        background-color: var(--color-links-light);
        color: var(--color-links-darker);

        &:hover {
            border-color: var(--color-links-lighter);
            background-color: var(--color-liks-lighter);
        }
    }

}


/* ---------ANIMATION----------- */

/*  ADD SUPPORT FOR SMOOTH SCROOL */

html {
    scroll-behavior: smooth;
}